<!-- wp:paragraph -->
<p>
	Release Candidate <%= rcNumber %> for the <%=
	finalReleaseDate.toLocaleDateString('en-US', {month: 'long', day:
	'numeric'}) %> release of WooCommerce is now available for testing! You can
	either
	<a
		href="https://downloads.wordpress.org/plugin/woocommerce.<%= version.version %>.zip"
		target="_blank"
		rel="noreferrer noopener"
		>download it directly from WordPress.org</a
	>
	or install our
	<a
		rel="noreferrer noopener"
		href="https://woocommerce.wordpress.com/2018/07/30/woocommerce-beta-tester-2-0-0/"
		target="_blank"
		>WooCommerce Beta Tester Plugin</a
	>.
</p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2 class="wp-block-heading">What's New?</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>
	Since the release of
	<a href="<%= lastReleasePostUrl %>"><%= prettyPreviousVersion %></a>, the
	following changes have been made:
</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul>
	<!-- wp:list-item -->
	<li>List the changes to the release here.</li>
	<!-- /wp:list-item -->
</ul>
<!-- /wp:list -->

<!-- wp:heading -->
<h2 class="wp-block-heading">Actions and Filters</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Insert action and filter changes here.</p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2 class="wp-block-heading">Template Changes</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Insert template changes here.</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"anchor":"release-schedule"} -->
<h2 class="wp-block-heading" id="release-schedule">Release Schedule</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>
	We're still on track for our planned <%=
	finalReleaseDate.toLocaleDateString('en-US', {month: 'long', day:
	'numeric'}) %> release of WooCommerce <%= version.major %>.<%= version.minor
	%>.
</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"anchor":"testing"} -->
<h2 class="wp-block-heading" id="testing">Testing</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>
	If you'd like to dive in and help test this new release, our handy&nbsp;<a
		href="https://wordpress.org/plugins/woocommerce-beta-tester/"
		target="_blank"
		>WooCommerce Beta Tester plugin</a
	>&nbsp;allows you to switch between beta versions and release candidates.
	You can also&nbsp;<a
		href="https://downloads.wordpress.org/plugin/woocommerce.<%= version.version %>.zip"
		target="_blank"
		rel="noreferrer noopener"
		>download the release from WordPress.org</a
	>.
</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>
	A set of testing instructions has been published on&nbsp;our&nbsp;<a
		href="https://github.com/woocommerce/woocommerce/wiki/Release-Testing-Instructions-WooCommerce-<%= version.major %>.<%= version.minor %>"
		target="_blank"
		rel="noreferrer noopener"
		>Wiki page in GitHub</a
	>. We've also posted&nbsp;<a
		href="https://woocommerce.wordpress.com/2015/07/25/how-to-beta-test-woocommerce/"
		target="_blank"
		>a helpful writeup on beta testing</a
	>&nbsp;to help get you started.
</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>
	If you discover any bugs during the testing process, please let us know
	by&nbsp;<a
		href="https://github.com/woocommerce/woocommerce/issues/new?assignees=&amp;labels=&amp;template=1-bug-report.yml&amp;title=[<%= version.major %>.<%= version.minor %> RC]: Title of the issue"
		target="_blank"
		rel="noreferrer noopener"
		>logging a report in GitHub</a
	>.
</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->
